<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.but4reuse.blockcreation">
      <blockcreation
            class="org.but4reuse.blockcreation.fca.FCABlockCreation"
            name="Formal Concepts">
      </blockcreation>
   </extension>

</plugin>
