<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.but4reuse.blockcreation">
      <blockcreation
            class="org.but4reuse.fca.blockcreation.FCABlockCreation"
            name="Formal Concept Analysis">
      </blockcreation>
   </extension>
   <extension
         point="org.but4reuse.constraints.discovery">
      <constraintsDiscovery
            class="org.but4reuse.fca.constraints.discovery.FCAConstraintsDiscovery"
            name="Formal Concept Analysis constraints discovery">
      </constraintsDiscovery>
   </extension>

</plugin>
