<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.but4reuse.adapters">
      <adapter
            class="org.but4reuse.adapters.jacoco.JacocoAdapter"
            icon="icons/icon.png"
            id="jacoco"
            name="JaCoCo XML session">
         <elements>
            <element
                  element="org.but4reuse.adapters.jacoco.CoveredLineElement"></element>
         </elements>
      </adapter>
   </extension>

</plugin>
