<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.but4reuse.adapters">
      <adapter
            class="org.but4reuse.adapters.graphs.GraphsAdapter"
            name="Graphs">
         <elements>
            <element
                  element="org.but4reuse.adapters.graphs.EdgeElement"></element>
            <element
                  element="org.but4reuse.adapters.graphs.VertexElement">
            </element>
         </elements>
      </adapter>
   </extension>

</plugin>
