<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.but4reuse.constraints.discovery" name="Constraints Discovery" schema="schema/org.but4reuse.constraints.discovery.exsd"/>
   <extension
         point="org.but4reuse.constraints.discovery">
      <constraintsDiscovery
            class="org.but4reuse.feature.constraints.impl.BinaryRelationConstraintsDiscovery"
            name="Structural binary relations constraints">
      </constraintsDiscovery>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.but4reuse.feature.constraints.helper.PreferenceInitializer">
      </initializer>
   </extension>
      <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.but4reuse.constraints.discovery.ui.page"
            class="org.but4reuse.feature.constraints.preferences.BinaryRelationPreferencePage"
            id="org.but4reuse.constraints.discovery.binaryrelation.page"
            name="Binary relations">
      </page>
   </extension>
      <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.but4reuse.feature.constraints.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
