<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.but4reuse.adapters">
      <adapter
            class="org.but4reuse.adapters.scratch.ScratchAdapter"
            icon="icons/scratch.png"
            id="scratch"
            name="Scratch">
         <elements>
            <element
                  element="org.but4reuse.adapters.scratch.ScratchElement">
            </element>
         </elements>
      </adapter>
   </extension>

</plugin>
