<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.but4reuse.block.identification">
      <block.identification
            class="org.but4reuse.fca.block.identification.FCABlockIdentification"
            name="Formal Concept Analysis">
      </block.identification>
   </extension>
   <extension
         point="org.but4reuse.constraints.discovery">
      <constraintsDiscovery
            class="org.but4reuse.fca.constraints.discovery.FCAConstraintsDiscovery"
            name="Formal Concept Analysis constraints discovery">
      </constraintsDiscovery>
   </extension>
   <extension
         point="org.but4reuse.visualisation">
      <visualisation
            class="org.but4reuse.fca.visualisation.FCAVisualisation"
            name="Formal Context Analysis visualisations exporter">
      </visualisation>
   </extension>

</plugin>
