<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.but4reuse.adapters">
      <adapter
            class="org.but4reuse.adapters.eclipse.EclipseAdapter"
            icon="icons/icon_eclipse.png"
            id="eclipse"
            name="Eclipse">
         <elements>
            <element
                  element="org.but4reuse.adapters.eclipse.PluginElement"></element>
            <element
                  element="org.but4reuse.adapters.eclipse.FileElement">
            </element>
         </elements>
      </adapter>
      <adapter
            class="org.but4reuse.adapters.eclipse.benchmark.EclipseAdapter4Benchmark"
            icon="icons/icon_eclipse.png"
            id="eclipse4benchmark"
            name="Eclipse4Benchmark">
         <elements>
            <element
                  element="org.but4reuse.adapters.eclipse.PluginElement">
            </element>
         </elements>
      </adapter>
      <adapter
            class="org.but4reuse.adapters.eclipse.generator.EclipseAdapter4Generator"
            icon="icons/icon_eclipse.png"
            id="eclipse4generator"
            name="Eclipse4Generator">
         <elements>
            <element
                  element="org.but4reuse.adapters.eclipse.PluginElement">
            </element>
         </elements>
      </adapter>
   </extension>
   
   
   <extension
         point="org.but4reuse.visualisation">
      <visualisation
            class="org.but4reuse.adapters.eclipse.benchmark.visualisations.EclipseFeatureLocationPluginsVisualisation"
            name="Eclipse benchmark specific visualisation">
      </visualisation>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.but4reuse.adapters.eclipse.benchmark.objectContribution"
            objectClass="org.but4reuse.artefactmodel.ArtefactModel">
         <action
               class="org.but4reuse.adapters.eclipse.benchmark.actions.CreateEclipseBenchmarkAction"
               icon="icons/icon_eclipse.png"
               id="org.but4reuse.adapters.eclipse.benchmark.action"
               label="Create Eclipse Feature Location Benchmark"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.but4reuse.adapters.eclipse.benchmark.objectContribution"
            objectClass="org.but4reuse.artefactmodel.ArtefactModel">
         <action
               class="org.but4reuse.adapters.eclipse.generator.actions.CreateEclipseVariantsAction"
               icon="icons/icon_eclipse.png"
               id="org.but4reuse.adapters.eclipse.generator.action"
               label="Generate Eclipse variants"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>

</plugin>
