<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.but4reuse.adapters">
      <adapter
            class="org.but4reuse.adapters.filestructure.FileStructureAdapter"
            icon="icons/files.gif"
            name="File structure">
         <elements>
            <element
                  element="org.but4reuse.adapters.filestructure.FileElement"></element>
            <element
                  element="org.but4reuse.adapters.filestructure.FolderElement">
            </element>
         </elements>
      </adapter>
   </extension>

</plugin>
