<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.but4reuse.adapters">
      <adapter
            class="org.but4reuse.adapters.eclipse.EclipseAdapter"
            icon="icons/icon_eclipse.png"
            name="Eclipse">
         <elements>
            <element
                  element="org.but4reuse.adapters.eclipse.PluginElement"></element>
         </elements>
      </adapter>
   </extension>

</plugin>
