<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.but4reuse.constraints.discovery">
      <constraintsDiscovery
            class="org.but4reuse.constraints.discovery.datamining.APrioriConstraintsDiscovery"
            name="Apriori association rules">
      </constraintsDiscovery>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.but4reuse.constraints.discovery.exportArffFile"
            targetID="org.eclipse.contribution.visualiser.views.Visualiser">
         <action
               class="org.but4reuse.constraints.discovery.datamining.actions.ExportArffFileAction"
               icon="icons/createArff.png"
               id="org.but4reuse.constraints.discovery.exportArffFile.action"
               label="Export Arff file"
               style="push"
               toolbarPath="additions">
         </action>
      </viewContribution>
   </extension>
</plugin>
