<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.but4reuse.adapters">
      <adapter
            class="org.but4reuse.adapters.filestructure.FileStructureAdapter"
            icon="icons/files.gif"
            id="filestructure"
            name="File structure">
         <elements>
            <element
                  element="org.but4reuse.adapters.filestructure.FileElement"></element>
            <element
                  element="org.but4reuse.adapters.filestructure.FolderElement">
            </element>
         </elements>
      </adapter>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.but4reuse.adapters.ui.preferences.AdaptersPreferencePage"
            class="org.but4reuse.adapters.filestructure.preferences.FileStructureAdapterPreferencePage"
            id="org.but4reuse.adapters.filestructure.page"
            name="FileStructure">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.but4reuse.adapters.filestructure.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
