<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.but4reuse.adapters.eclipse.benchmark.objectContribution"
            objectClass="org.but4reuse.artefactmodel.ArtefactModel">
         <action
               class="org.but4reuse.adapters.eclipse.generator.actions.CreateEclipseVariantsAction"
               id="org.but4reuse.adapters.eclipse.generator.action"
               label="Variants Generation: Percentage-based random selection of features"
               menubarPath="EFLBench/additions">
         </action>
         <action
               class="org.but4reuse.adapters.eclipse.generator.actions.CreateEclipseVariantsPledgeAction"
               id="org.but4reuse.adapters.eclipse.generator.action"
               label="Variants Generation: PLEDGE"
               menubarPath="EFLBench/additions">
         </action>
      </objectContribution>
   </extension>

</plugin>
