<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.but4reuse.adapters">
      <adapter
            class="org.but4reuse.adapters.nltext.NLTextAdapter"
            icon="icons/page.gif"
            id="nltext"
            name="Text in Natural Language">
         <elements>
            <element
                  element="org.but4reuse.adapters.nltext.SentenceElement"></element>
         </elements>
      </adapter>
   </extension>

</plugin>
