<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.but4reuse.adapters">
      <adapter
            class="org.but4reuse.adapter.sourcecode.extension.JavaSourceCodeAdapterExtension"
            id="javaextension"
            name="Java source code extension">
         <elements>
            <element
                  element="org.but4reuse.adapters.sourcecode.FSTNonTerminalNodeElement"></element>
            <element
                  element="org.but4reuse.adapters.sourcecode.FSTTerminalNodeElement">
            </element>
            <element
                  element="org.but4reuse.adapters.sourcecode.BodyElement">
            </element>
         </elements>
      </adapter>
   </extension>

</plugin>
