<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.but4reuse.feature.location">
      <feature.location
            class="org.but4reuse.feature.location.impl.FeatureLocationLSI"
            name="Latent Semantic Indexing (LSI)">
      </feature.location>
      <feature.location
            class="org.but4reuse.feature.location.impl.SFS_LSI"
            name="SFS + LSI">
      </feature.location>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.but4reuse.feature.location.ui.page"
            class="org.but4reuse.feature.location.lsi.location.preferences.LSIPreferencePage"
            id="org.but4reuse.feature.location.lsi.page"
            name="LSI - Parameter">
      </page>
   </extension>
   <extension
         point="org.but4reuse.feature.location">
   </extension>

</plugin>
