<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.contribution.visualiser.providers">
      <provider
            contentProviderClass="org.but4reuse.visualisation.visualiser.adaptedmodel.BlockElementsContentProvider"
            description="Block Elements on Artefacts"
            emptyMessage="Empty. Run a feature identification or feature localization action"
            id="org.but4reuse.visualisation.blockelementsonartefacts.provider"
            markupProviderClass="org.but4reuse.visualisation.visualiser.adaptedmodel.BlockElementsMarkupProvider"
            name="Block Elements on Artefacts">
      </provider>
   </extension>

   <extension
         point="org.eclipse.contribution.visualiser.providers">
      <provider
            contentProviderClass="org.but4reuse.visualisation.visualiser.featurelist.FeaturesContentProvider"
            description="Features on Blocks"
            emptyMessage="Empty. Run a feature localization action"
            id="org.but4reuse.visualisation.featuresonblocks.provider"
            markupProviderClass="org.but4reuse.visualisation.visualiser.featurelist.FeaturesMarkupProvider"
            name="Features on Blocks">
      </provider>
   </extension>
</plugin>
