<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.but4reuse.adapters">
      <adapter
            class="org.but4reuse.adapters.textlines.TextLinesAdapter"
            icon="icons/textlines.gif"
            id="textlines"
            name="Text lines">
         <elements>
            <element
                  element="org.but4reuse.adapters.textlines.LineElement"></element>
         </elements>
      </adapter>
   </extension>

</plugin>
