<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.but4reuse.wordclouds"
            objectClass="org.but4reuse.artefactmodel.ArtefactModel">
         <action
               class="org.but4reuse.wordclouds.ui.actions.WordCloudAction"
               id="org.but4reuse.wordclouds.ui.actions"
               label="Find Name"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.but4reuse.wordclouds.ShowArtefactWordCloud"
            objectClass="org.but4reuse.artefactmodel.Artefact">
         <action
               class="org.but4reuse.wordclouds.ui.actions.ShowArtefactWordCloud"
               id="org.but4reuse.wordclouds.action1"
               label="Show Word CLoud">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.but4reuse.worldcouds.visualisation.WordCloudVis"
            id="org.but4reuse.wordclouds.view"
            name="WorldClouds"
            restorable="true">
      </view>
   </extension>

</plugin>
