<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.but4reuse.adapters">
      <adapter
            class="org.but4reuse.adapters.cppcdt.CppAdapter"
            icon="icons/cpp.png"
            id="cpp"
            name="C/C++ CDT">
         <elements>
            <element
                  element="org.but4reuse.adapters.cppcdt.elements.ClassHeader">
            </element>
            <element
                  element="org.but4reuse.adapters.cppcdt.elements.ElifDirective">
            </element>
            <element
                  element="org.but4reuse.adapters.cppcdt.elements.ElseDirective">
            </element>
            <element
                  element="org.but4reuse.adapters.cppcdt.elements.FunctionHeader">
            </element>
            <element
                  element="org.but4reuse.adapters.cppcdt.elements.FunctionImpl">
            </element>
            <element
                  element="org.but4reuse.adapters.cppcdt.elements.GlobalVar">
            </element>
            <element
                  element="org.but4reuse.adapters.cppcdt.elements.HeaderFile">
            </element>
            <element
                  element="org.but4reuse.adapters.cppcdt.elements.IfdefDirective">
            </element>
            <element
                  element="org.but4reuse.adapters.cppcdt.elements.IfDirective">
            </element>
            <element
                  element="org.but4reuse.adapters.cppcdt.elements.IfndefDirective">
            </element>
            <element
                  element="org.but4reuse.adapters.cppcdt.elements.IncludeDirective">
            </element>
            <element
                  element="org.but4reuse.adapters.cppcdt.elements.MacroDirective">
            </element>
            <element
                  element="org.but4reuse.adapters.cppcdt.elements.SourceFile">
            </element>
            <element
                  element="org.but4reuse.adapters.cppcdt.elements.StatementImpl">
            </element>
            <element
                  element="org.but4reuse.adapters.cppcdt.elements.EndifDirective">
            </element>
         </elements>
      </adapter>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.but4reuse.adapters.ui.preferences.AdaptersPreferencePage"
            class="org.but4reuse.adapters.cppcdt.preferences.CppAdapterPreferencePage"
            id="org.but4reuse.adapters.cpp.Cpp"
            name="C/C++">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.but4reuse.adapters.cppcdt.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
