<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.but4reuse.adapters">
      <adapter
            class="org.but4reuse.adapters.bytecode.BytecodeAdapter"
            icon="icons/bytecode.gif"
            id="bytecode"
            name="Bytecode">
         <elements>
            <element
                  element="org.but4reuse.adapters.bytecode.MethodElement"></element>
            <element
                  element="org.but4reuse.adapters.bytecode.FieldElement"></element>
            <element
                  element="org.but4reuse.adapters.bytecode.InterfaceNameElement"></element>
            <element
                  element="org.but4reuse.adapters.bytecode.AccessFlagsElement"></element>
            <element
                  element="org.but4reuse.adapters.bytecode.SuperClassNameElement"></element>
         </elements>
      </adapter>
   </extension>

</plugin>
