<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated adaptedmodel -->
      <package
            uri="http://org.but4reuse.adapted.model"
            class="org.but4reuse.adaptedmodel.AdaptedModelPackage"
            genModel="model/adaptedmodel.genmodel"/>
   </extension>

</plugin>
