<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.but4reuse.adapters">
      <adapter
            class="org.but4reuse.adapters.emf.EMFAdapter"
            icon="icons/model.gif"
            name="Models">
         <elements>
            <element
                  element="org.but4reuse.adapters.emf.EMFClassElement"></element>
            <element
                  element="org.but4reuse.adapters.emf.EMFResourceElement"></element>
            <element
                  element="org.but4reuse.adapters.emf.EMFAttributeElement">
            </element>
            <element
                  element="org.but4reuse.adapters.emf.EMFReferenceElement">
            </element>
         </elements>
      </adapter>
   </extension>

</plugin>
