<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated artefactmodel -->
      <wizard
            category="org.but4reuse.newWizards.category"
            class="org.but4reuse.artefactmodel.presentation.ArtefactModelModelWizard"
            icon="icons/full/obj16/ArtefactModelModelFile.gif"
            id="org.but4reuse.artefactmodel.presentation.ArtefactModelModelWizardID"
            name="%_UI_ArtefactModelModelWizard_label">
         <description>%_UI_ArtefactModelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated artefactmodel -->
      <editor
            id="org.but4reuse.artefactmodel.presentation.ArtefactModelEditorID"
            name="%_UI_ArtefactModelEditor_label"
            icon="icons/full/obj16/ArtefactModelModelFile.gif"
            extensions="artefactmodel"
            class="org.but4reuse.artefactmodel.presentation.ArtefactModelEditor"
            contributorClass="org.but4reuse.artefactmodel.presentation.ArtefactModelActionBarContributor">
      </editor>
   </extension>


</plugin>
