<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated artefactmodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.but4reuse.artefactmodel.presentation.ArtefactModelModelWizardID"
            name="%_UI_ArtefactModelModelWizard_label"
            class="org.but4reuse.artefactmodel.presentation.ArtefactModelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ArtefactModelModelFile.gif">
         <description>%_UI_ArtefactModelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated artefactmodel -->
      <editor
            id="org.but4reuse.artefactmodel.presentation.ArtefactModelEditorID"
            name="%_UI_ArtefactModelEditor_label"
            icon="icons/full/obj16/ArtefactModelModelFile.gif"
            extensions="artefactmodel"
            class="org.but4reuse.artefactmodel.presentation.ArtefactModelEditor"
            contributorClass="org.but4reuse.artefactmodel.presentation.ArtefactModelActionBarContributor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.but4reuse.artefactmodel.editor.switchactivate"
            objectClass="org.but4reuse.artefactmodel.Artefact">
         <action
               class="org.but4reuse.artefactmodel.editor.actions.SwitchActivateAction"
               enablesFor="*"
               id="org.but4reuse.artefactmodel.editor.action1"
               label="Switch Activate/Deactivate Artefact"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>

null

</plugin>
