<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.but4reuse.adapters.ui.showElements"
            objectClass="org.but4reuse.artefactmodel.Artefact">
         <action
               class="org.but4reuse.adapters.ui.actions.ShowArtefactElementsAction"
               icon="icons/show.png"
               id="org.but4reuse.adapters.ui.action.showElements"
               label="Show elements"
               menubarPath="additions">
         </action>
      </objectContribution>
      <viewerContribution
            id="org.but4reuse.adapters.ui.viewerContribution3"
            targetID="org.eclipse.ui.views.ResourceNavigator">
         <action
               class="org.but4reuse.adapters.ui.actions.ShowArtefactElementsAction"
               enablesFor="*"
               icon="icons/show.png"
               id="org.but4reuse.adapters.ui.action2"
               label="Show elements"
               menubarPath="but4reuse/additions">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.but4reuse.page"
            class="org.but4reuse.adapters.ui.preferences.SimilarityPreferencePage"
            id="org.but4reuse.adapters.ui.preferences.SimilarityPreferencePage"
            name="Similarity">
      </page>
      <page
            category="org.but4reuse.page"
            class="org.but4reuse.adapters.ui.preferences.AdaptersPreferencePage"
            id="org.but4reuse.adapters.ui.preferences.AdaptersPreferencePage"
            name="Adapters">
      </page>
   </extension>
	   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.but4reuse.adapters.ui.construct"
            targetID="org.eclipse.contribution.visualiser.views.Menu">
         <action
               class="org.but4reuse.adapters.ui.actions.ConstructViewAction"
               icon="icons/construct.png"
               id="org.but4reuse.adapters.ui.constructaction"
               label="Construct"
               style="push"
               toolbarPath="additions">
         </action>
      </viewContribution>
      </extension>
      	   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.but4reuse.adapters.ui.constructseparately"
            targetID="org.eclipse.contribution.visualiser.views.Menu">
         <action
               class="org.but4reuse.adapters.ui.actions.ConstructSeparatelyViewAction"
               icon="icons/constructSeparately.png"
               id="org.but4reuse.adapters.ui.constructseparatelyaction"
               label="Construct separately"
               style="push"
               toolbarPath="additions">
         </action>
      </viewContribution>
      </extension>
      	   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.but4reuse.adapters.ui.showblockelements"
            targetID="org.eclipse.contribution.visualiser.views.Menu">
         <action
               class="org.but4reuse.adapters.ui.actions.ShowBlockElementsAction"
               icon="icons/show.png"
               id="org.but4reuse.adapters.ui.showblockelementsaction"
               label="Show Block Elements"
               style="push"
               toolbarPath="additions">
         </action>
      </viewContribution>
      <viewContribution
            id="org.but4reuse.adapters.ui.showallblockelements"
            targetID="org.eclipse.contribution.visualiser.views.Menu">
         <action
               class="org.but4reuse.adapters.ui.actions.ShowAllBlockElementsAction"
               icon="icons/showAll.png"
               id="org.but4reuse.adapters.ui.showallblockelementsaction"
               label="Show All Block Elements"
               style="push"
               toolbarPath="additions">
         </action>
      </viewContribution>
      <viewContribution
            id="org.but4reuse.adapters.ui.reconstructall"
            targetID="org.eclipse.contribution.visualiser.views.Visualiser">
         <action
               class="org.but4reuse.adapters.ui.actions.ReConstructAllAction"
               icon="icons/reconstructAll.png"
               id="org.but4reuse.adapters.ui.reconstructall.action"
               label="Re-Construct All Artefacts"
               style="push"
               toolbarPath="additions">
         </action>
      </viewContribution>
      <viewContribution
            id="org.but4reuse.adapters.ui.mergeblocks"
            targetID="org.eclipse.contribution.visualiser.views.Menu">
         <action
               class="org.but4reuse.adapters.ui.actions.MergeBlocksAction"
               icon="icons/merge.png"
               id="org.but4reuse.adapters.ui.mergeblocksaction"
               label="Merge Selected Blocks"
               style="push"
               toolbarPath="additions">
         </action>
      </viewContribution>
      <viewContribution
            id="org.but4reuse.adapters.ui.showblockelements"
            targetID="org.eclipse.contribution.visualiser.views.Menu">
         <action
               class="org.but4reuse.adapters.ui.actions.SerializeAction"
               icon="icons/serialize.gif"
               id="org.but4reuse.adapters.ui.serializeaction"
               label="Serialize analysis model"
               style="push"
               toolbarPath="additions">
         </action>
      </viewContribution>
      <viewContribution
            id="org.but4reuse.adapters.ui.showresultingraphs"
            targetID="org.eclipse.contribution.visualiser.views.Menu">
         <action
               class="org.but4reuse.adapters.ui.actions.ShowResultInGraphs"
               icon="icons/showInGraphs.png"
               id="org.but4reuse.adapters.ui.showresultingraphsaction"
               label="Show Result In Graphs"
               style="push"
               toolbarPath="additions">
         </action>
      </viewContribution>
      <viewContribution
            id="org.but4reuse.adapters.ui.constructxml"
            targetID="org.eclipse.contribution.visualiser.views.Menu">
         <action
               class="org.but4reuse.adapters.ui.actions.ConstructXMLAction"
               icon="icons/constructXML.png"
               id="org.but4reuse.adapters.ui.constructxmlaction"
               label="Construct XML"
               style="push"
               toolbarPath="additions">
         </action>
      </viewContribution>
      </extension>
</plugin>
